/* ==========================================================================
   buttons / 
   ========================================================================== */

.button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    border-radius: 90px;
    font-family: var(--font-primary);
    height: 80px;
    width: 220px;
    margin-bottom: 80px;

    &:hover {
        background-color: var(--color-secondary);
        border-color: var(--color-primary);
        color: var(--color-primary);

        a {
            color: var(--color-primary);
        }
    }
}

.button--small {
    padding: 10px 20px;
}

.button_projet {
    margin-top: 40px;
    padding: 0 10px;
}
