/* ==========================================================================
   contact / 
   ========================================================================== */

   .hero_contact{

    .wrapper{
        text-align: center;

        h2{
            font-size: 3rem;
        }

        .infos{

            span{

                &#cv img , &#linkedin img{
                    width: 10%;

                    @media screen and (min-width: $breakpoint-sm) {
                        width: 8%;
                    }
                }

                &#phone img{
                    width: 6%;
                }


                a{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover{
                        color: var(--color-white);
                    }
                }
                
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    text-decoration: underline;
                }

                img{
                    filter: invert(74%) sepia(32%) saturate(826%)
                        hue-rotate(2deg) brightness(84%) contrast(92%);
                    width: 7%;
                }

                h6{
                    padding: 30px;
                }
            }
        }

        .medias{

            img{
                width: 10%;
                margin: 10px;
                filter: invert(100%) sepia(5%) saturate(61%) hue-rotate(193deg) brightness(113%) contrast(89%);

                &:hover{
                    filter: invert(74%) sepia(32%) saturate(826%)
                        hue-rotate(2deg) brightness(84%) contrast(92%);
                }
            }
        }


        @media screen and (min-width: $breakpoint-md) {
            text-align: center;
            display: grid;
            position: relative;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 1fr 0.3fr;

            h2{
                position: absolute;
                top: 4%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .indirect{
                grid-column: 1;
                padding-top: 80px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .formulaire{
                padding-top: 80px;
            }
        }
    }
    
   }