/* ==========================================================================
   footer / 
   ========================================================================== */

.footer {
    padding-top: 20px;
    background-color: var(--color-secondary);
    z-index: 1;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;

        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            justify-content: center;
        }

        .medias {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $breakpoint-sm) {
                flex-direction: row;
            }

            img {
                &:hover {
                    filter: invert(74%) sepia(32%) saturate(826%)
                        hue-rotate(2deg) brightness(84%) contrast(92%);
                }
                margin: 12px;
                width: 60px;
                height: auto;
                filter: invert(100%) sepia(0%) saturate(95%) hue-rotate(223deg)
                    brightness(115%) contrast(89%);

                @media screen and (min-width: $breakpoint-sm) {
                    width: 40px;
                }
            }
        }

        .nav {
            ul {
                display: flex;
                flex-direction: column;

                li {
                    margin: 12px;

                    &.line {
                        margin-left: 70px;
                        border: 1px solid white;
                        max-width: 80px;

                        @media screen and (min-width: $breakpoint-sm) {
                            display: none;
                        }
                    }

                    @media screen and (min-width: $breakpoint-sm) {
                        font-size: 1rem;
                        padding: 16px 0 0 6px;
                        margin: 0;
                    }
                }

                @media screen and (min-width: $breakpoint-sm) {
                    flex-direction: row;
                }
            }
        }

        .copyright {
            grid-column: 2;
            font-size: 1rem;
            padding: 0;
            margin: 0;

            @media screen and (min-width: $breakpoint-md) {
                padding-left: 35px;
            }
        }
    }
}
