/* ==========================================================================
   formulaire / 
   ========================================================================== */   
.formulaire {
    h5 {
        text-align: center;
        font-family: var(--font-secondary);
        margin-bottom: 30px;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            margin-bottom: 0;
        }

        @media screen and (min-width: $breakpoint-md) {
            width: 210%;
            padding-left: auto;
            margin-left: auto;
        }
        
    }
}

.form {
    --input-radius: 3px;
    --input-padding: 1em;

    fieldset {
        border: none;
        padding: 0;
    }

    .grid {
        display: grid;
        gap: var(--spacing-md);
        grid-template-columns: 1fr;

        @media screen and(min-width: $breakpoint-md) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.form__list {
    display: flex;
    flex-wrap: wrap;

    .input__element {
        width: 10%;
    }
}

.form__body {
    background-color: rgba(11, 11, 10, 0.65);
    border: 1px solid var(--color-white);
    border-radius: 30px 0 30px 0;
    padding: 30px;

    .is-sent & {
        display: none;
    }
}

.form__confirmation {
    display: none;

    .is-sent & {
        padding-top: 82%;
        display: block;

        @media screen and(min-width: $breakpoint-sm) {
            padding-top: 25%;
        }
        
        @media screen and(min-width: $breakpoint-md) {
            padding-top: 10%;
        }
    }
}

/*
     input
     ========================================================================== */

.input__label {
    display: block;
    font-family: var(--font-secondary);
    text-align: left;
}

.input__element {
    border-radius: 15px 0 15px 0;
    background-color: rgba(11, 11, 10, 0.65);
    border: 1px solid var(--color-white);
    box-shadow: 4px 4px 4px var(--color-black);
    color: var(--color-white);
    font-family: inherit;
    outline: none;
    padding: 20px;
    width: 100%;

    &:-webkit-autofill,
    &:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 30px var(--color-white) !important;
        -webkit-text-fill-color: inherit !important;
    }

    //hover
    &:hover,
    + .input__label:hover::before {
        background-color: var(--color-text);
        -webkit-box-shadow: inset 0 0 0 30px var(--color-text) !important;
    }

    //focus
    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        color: var(--color-white);
        background-color: var(--color-secondary);
        box-shadow: 4px 4px 4px var(--color-white);
        -webkit-box-shadow: inset 0 0 0 30px var(--color-secondary) !important;
    }

    //autocomplete
    &::placeholder {
        color: rgba($color: #f1f1f1, $alpha: 0.3);
    }
}


/*
     textarea
     ========================================================================== */
.textarea {
    .input__element {
        resize: vertical;
        min-height: 150px;
        max-height: 300px;
    }
}

/*
     Erreur
     ========================================================================== */

.error {
    .input__element,
    &.check .input__label::before,
    &.radio .input__label::before,
    .check .input__label::before,
    .radio .input__label::before {
        box-shadow: inset 0 0 0 3px red;
    }

    .input__label {
        color: red;
    }
}
