/* ==========================================================================
   section hero / 
   ========================================================================== */

.hero {
    position: relative;

    .background {
        background: var(--color-gradient);
        z-index: -2;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
    }

    .wrapper {
        color: var(--color-white);
        padding: 1rem;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(
                to top,
                var(--color-white),
                rgba(0, 0, 0, 0)
            )
            1 100%;
    }
}

.hero_accueil {
    background-color: transparent;
    position: relative;

    .title {
        display: flex;
        justify-content: center;
        position: relative;

        img {
            width: 130px;
            height: auto;
            position: absolute;
            bottom: 0;
            left: -10%;
            filter: grayscale(100%);

            @media screen and (min-width: $breakpoint-sm) {
                left: 15%;
                width: 180px;
            }
            @media screen and (min-width: 500px) {
                left: 5%;
            }
            @media screen and (min-width: 650px) {
                left: 10%;
            }
            @media screen and (min-width: 730px) {
                left: 15%;
            }
            @media screen and (min-width: $breakpoint-md) {
                left: 20%;
                width: 180px;
            }
            @media screen and (min-width: 1215px) {
                left: 25%;
            }
            @media screen and (min-width: $breakpoint-lg) {
                left: 30%;
                width: 180px;
            }
        }
    }

    h1 {
        font-family: var(--font-logo);
        text-align: right;
        font-size: 8rem;

        @media screen and (min-width: $breakpoint-sm) {
            font-size: 10rem;
        }

        mark {
            display: block;
        }
    }

    .content {
        padding: 80px 0;

        h3,
        h6 {
            pointer-events: none;
            z-index: 1;
        }

        .right {
            text-align: right;
        }

        @media screen and (min-width: $breakpoint-sm) {
            padding: 80px 50px;
        }
        @media screen and (min-width: $breakpoint-md) {
            padding: 80px 100px;
        }
        @media screen and (min-width: $breakpoint-lg) {
            padding: 80px 150px;
        }

        .float {
            #jason,
            #jukeb,
            #php {
                position: absolute;
                filter: saturate(0);
                opacity: 0;
                transition: all 0.3s ease-in-out;
                z-index: 0;

                &:hover {
                    z-index: -1;
                    opacity: 0.6;
                }
            }

            #jason {
                top: 52%;
                left: 50%;
                width: 25%;

                @media screen and (min-width: $breakpoint-lg) {
                    width: 15%;
                }
            }

            #jukeb {
                top: 33%;
                left: 25%;
                width: 50%;

                @media screen and (min-width: $breakpoint-lg) {
                    left: 42%;
                    width: 33%;
                }
            }

            #php {
                left: 5%;
                bottom: 10%;
                width: 40%;

                @media screen and (min-width: $breakpoint-lg) {
                    left: 15%;
                    width: 25%;
                }
            }
        }
    }

    .aligner {
        display: flex;
        justify-content: center;
    }
}
