/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-primary: #577097;
    --color-secondary: #252525;
    --color-tertiary: #a7774e;
    --color-text: #e8e8e8;
    --color-cta: #f5df4d;
    --color-icons: #bff4ff;
}
