/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f1f1f1;
    --color-black: #232323;

    // Couleurs du projet
    --color-primary: #CCA43B;
    --color-secondary: rgba(11, 11, 10, 0.65);
    --color-gradient: linear-gradient(180deg, #212529 0%, #CCA43B 614.26%);
    --color-gradient-line: linear-gradient(90deg, #F8F9FA 0%, rgba(248, 249, 250, 0) 76.72%);
    --color-text: #22262A;
}
